@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

img {
    width: 100vw;
}

a {
    display: block;
    background-color: red;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    margin: -5px;

}


a:hover {
    background-color: blue;
}
